*{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
   letter-spacing: 1pc; 
   border: 2px solid black;
   border-radius: 5px;
   box-sizing:content-box;
   width: fit-content ;
   box-shadow: 5px purple;
   
}